﻿/* Prendre le icone da https://blazor.syncfusion.com/documentation/appearance/icons/?no-cache=1#fabric */

.e-info:before {
    content: '\e607';
}

.e-genera:before {
    content: '\e277';
}

.e-clipboard:before {
    content: '\e501';
}

.e-link:before {
    content: '\e34a';
}