@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Notifications
@using BlazorStrap
@using Frontend.Componenti
@using Frontend.Utility

@page "/"

@inherits IndexBase

<BSCard CardType="CardType.Card" Class="mt-5">
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title" Class="h2">
            Generatore di passphrase
        </BSCard>

        <BSCard CardType="CardType.Subtitle">
            <a href="https://xkcd.com/936/" target="_blank">
                Perch&eacute; dovresti usare delle passphrase anzich&eacute; delle password <i class="e-icons e-link" />
            </a>
        </BSCard>

        <!-- Parametri -->
        <EditForm Model="Config" class="mt-3">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <BSBasicForm>
                <RigaForm Etichetta="Passphrase da generare">
                    <FormControlRiga>
                        <SfNumericTextBox @bind-Value="@Config.Quante" Min="1" Max="100" Format="n0" />
                    </FormControlRiga>
                    <Tooltip>Numero di passphrase che verranno generate</Tooltip>
                </RigaForm>

                <RigaForm Etichetta="Parole">
                    <FormControlRiga>
                        <SfNumericTextBox @bind-Value="@Config.NumeroParole" Min="1" Max="10" Format="n0" />
                    </FormControlRiga>
                    <Tooltip>Numero di parole che compongono ogni passphrase</Tooltip>
                </RigaForm>

                <RigaForm Etichetta="Cifre tra parole">
                    <FormControlRiga>
                        <SfNumericTextBox @bind-Value="@Config.NumeroCifreTraParole" Min="0" Max="10" Format="n0" />
                    </FormControlRiga>
                </RigaForm>

                <RigaForm Etichetta="Separatore">
                    <FormControlRiga>
                        <SfTextBox @bind-Value="@Config.Separatore" />
                    </FormControlRiga>
                </RigaForm>

                <RigaForm Etichetta="Legacy">
                    <FormControlRiga>
                        <SfCheckBox @bind-Checked="@Config.Legacy"></SfCheckBox>
                    </FormControlRiga>
                </RigaForm>
            </BSBasicForm>
        </EditForm>

        <!-- Pulsante di generazione-->
        <SfButton Content="Genera" 
                  IsPrimary="true" 
                  IconCss="e-icons e-genera"
                  OnClick="GeneraPassphrase" />

        <!-- Lista passphrase generate -->
        <SfListView DataSource="@PassphraseGenerate"
                    @ref="@ListViewPassphraseGenerate"
                    TValue="string"
                    CssClass="mt-3"
                    ShowHeader="@(PassphraseGenerate.Count() > 0)"
                    HeaderTitle="Passphrase generate">
            <!-- Template -->
            <ListViewTemplates TValue="string">
                <Template>
                    <pre class="pointer text-large">@(context as string)</pre>
                </Template>
            </ListViewTemplates>

            <!-- Eventi -->
            <ListViewEvents TValue="string"
                            Selected="CopiaPassphrase" />
        </SfListView>

    </BSCard>
</BSCard>

<div class="w-100 text-center mt-3 text-muted small">
    <div>Versione frontend: @VersioneFrontend &ndash; Versione backend: @VersioneBackend</div>
    <a class="text-reset" href="@($"{ImpostazioniFrontend.UriBackend}/swagger")" target="_blank">
        Vai alla versione API <i class="e-icons e-link" />
    </a>    
</div>

<!-- Toast -->
<SfToast @ref="@Toast">
    <ToastPosition X="Right"
                   Y="Top" />
</SfToast>