﻿@using BlazorStrap
@using Syncfusion.Blazor.Popups;

<BSFormGroup IsRow="true">
    <!-- 1. Etichetta-->
    <BSLabel for="@IdFormControl" SM="6">@Etichetta</BSLabel>

    <!-- 2 Form control -->
    <!-- Utilizza Flex per allineare verticalmente il form control a metà (evitando così problemi con checkbox e simili) -->
    <BSCol SM="6" Class="d-flex align-items-center">
        <!-- Tooltip (facoltativo) -->
        @if (Tooltip != null)
        {
        <SfTooltip Target="@("#" + IdTooltip)"
                   Position="Position.TopCenter">
            <TooltipTemplates>
                <Content>
                    <div class="text-large">@Tooltip</div>
                </Content>
            </TooltipTemplates>
            <i class="e-icons e-info" id="@IdTooltip" />
        </SfTooltip>
        }
        else
        {
            <!-- Serve solo per questioni di layout -->
            <i class="e-icons e-info e-control invisible" />
        }

        <!-- Form control -->
        <div id="@IdFormControl" class="w-100 ml-2">
            @FormControlRiga
        </div>
    </BSCol>
</BSFormGroup>

@code {

    /// <summary>
    /// Etichetta della riga
    /// </summary>
    [Parameter]
    public string Etichetta { get; set; }

    /// <summary>
    /// Informazioni aggiuntive
    /// </summary>
    [Parameter]
    public RenderFragment Tooltip { get; set; }

    /// <summary>
    /// Render fragment con il form control della riga
    /// </summary>
    [Parameter]
    public RenderFragment FormControlRiga { get; set; }

    protected string IdFormControl;
    protected string IdTooltip;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Genera ID form control
        IdFormControl = "form-control-" + Guid.NewGuid().ToString();

        // Genera ID tooltip, se necessaro
        if (Tooltip != null)
        {
            IdTooltip = "tooltip-" + Guid.NewGuid().ToString();
        }
    }
}
